.body{
    font-family: fantasy;
    font-size: 30px;
    font-weight: 400;
    list-style: none;
}

/* navigation and header */
.container{
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-logo{
    margin-left: 16px;
}

.logo-web{
    text-decoration: none;
    color:rgb(9, 9, 189);
    font-weight: 800;
    font-size: 19px;
}
.span-studio{
    color: azure;
    font-weight: 800;
}

.list-header{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 16px;
}

.link{
    font-size: 17px;
    text-decoration: none;
    color: azure;
    font-weight: 800;
}

.list-adress{
    display: block;
    justify-content: end;
    align-items: center;
    list-style: none;
}
.link-adress{
    text-decoration: none;
    color: rgb(25, 0, 168);
    font-weight: 800;
    font-size: 17px;
}
.about-me{
    width: 1500px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.main-title{
    color: rgb(214, 25, 82);
    font-weight: 800;
    font-size: 34px;
}
.form{
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 2px;
}

.button{
    color: blanchedalmond;
    background-color: brown;
    border-radius: 50px;
    border: solid 1px;

}
.button:hover {
    background-color: blue;
}